<div class="post-new">

    <%= form_with model: @post, url: posts_path, local: true do |f| %>
      <%= f.text_area :title, placeholder:"タイトル", id:"post_title" %>
      <%= f.text_area :summary, placeholder:"詳細", id:"post_summary" %>
      <%= f.label :image, "ファイルを選択", for:"file", class:"filelabel" %>
      <%= f.file_field :image, id:"file", class:"fileinput", style: "display: none;" %>   
      <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"category-select"}) %>
      <button>投稿する</button>
    <% end %>
    <div id="image-list"></div>
</div>