<!DOCTYPE html>
<html>
  <head>
    <title>MyGear</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f30c31a4d9.js" crossorigin="anonymous"></script>
    <script src="index.js"></script>
  </head>

  <body>
      <header class="header">
      <div class="inner">
        <div class="nav">
          <div class="nav__left">
            <%= link_to image_tag("My Gear.png", class: :logo), root_path %>
          </div>
          <div class="nav__center"><%= form_with(url: root_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "ðŸ”Žæ¤œç´¢ã™ã‚‹", class: "search-input" %>
  <%= form.submit "æ¤œç´¢",  class: "search-btn" %>
<% end %></div>
          <%# ãƒ­ã‚°ã‚¤ãƒ³ã—ã¦ã„ã‚‹ã¨ãã¯ä»¥ä¸‹ã‚’è¡¨ç¤ºã™ã‚‹ã‚ˆã†ã«ã—ã¾ã—ã‚‡ã† %>
          <% if user_signed_in? %>
            <div class="nav__right">
              <%= link_to "Category", "#", class: :nav__btn, id: :category %>
              <%= link_to "Logout", destroy_user_session_path, method: :delete, class: :nav__btn %>
              <%= link_to current_user.nickname, user_path(current_user.id), class: :nav__btn %>
              <%= link_to "Help", "#", class: :nav__btn %>
              
            </div>
          <%# // ãƒ­ã‚°ã‚¤ãƒ³ã—ã¦ã„ã‚‹ã¨ãã¯ä¸Šè¨˜ã‚’è¡¨ç¤ºã™ã‚‹ã‚ˆã†ã«ã—ã¾ã—ã‚‡ã† %>
          <%# ãƒ­ã‚°ã‚¤ãƒ³ã—ã¦ã„ãªã„ã¨ãã¯ä»¥ä¸‹ã‚’è¡¨ç¤ºã™ã‚‹ã‚ˆã†ã«ã—ã¾ã—ã‚‡ã† %>
          <% else %>
            <div class="nav__right">
              <%= link_to "Category", "#", class: :nav__btn %>
              <%= link_to "Login", new_user_session_path, class: :nav__btn %>
              <%= link_to "Sign up", new_user_registration_path, class: :nav__btn %>
              <%= link_to 'Guest', users_guest_login_path, class: :nav__btn, method: :post %>
              <%= link_to "Help", "#", class: :nav__btn %>
            </div>
          <% end %>
          <%# // ãƒ­ã‚°ã‚¤ãƒ³ã—ã¦ã„ãªã„ã¨ãã¯ä¸Šè¨˜ã‚’è¡¨ç¤ºã™ã‚‹ã‚ˆã†ã«ã—ã¾ã—ã‚‡ã† %>
        </div>
      </div>
      <hr> 
    </header>
    
   
  
    <%= yield %>
  </body>
</html>
