<!DOCTYPE html>
<html>
  <head>
    <title>MyGear</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header"> 
      <div class="searchbar"></div>
      <div class="heading">
      <li><%= link_to 'My Gear', posts_path, class: "title" %></li></div>
      <div class="navbar">
        <ul class="nav-lists">
      <% if user_signed_in? %>
      <li><%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <li><%= link_to current_user.nickname, user_path(current_user.id), class: "user-nickname" %></li>
      <% else %>
      <li><%= link_to 'Login', new_user_session_path, class: "login" %></li>
      <li><%= link_to 'Sign up', new_user_registration_path, class: "sign-up" %></li>
      <li><%= link_to 'Guest', users_guest_login_path, class: "guest", method: :post %></li>
      <% end %>
        </ul>
        </div>
        <div class="underline"></div>
    </header>

    <%= yield %>
  </body>
</html>
